<ion-app>
  <ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
            
      <ion-title class="title">
         Consulta Prestador Serviço
      </ion-title>
            
    </ion-toolbar>
  </ion-header>
    
  <ion-content>
  <div>
  <div *ngIf="lista">
   <!--Barra De Pesquisa --> 
  <div>
      <ion-searchbar placeholder="Digite o nome do Prestador De Serviço..."      
        [(ngModel)]="queryText"
        (ionInput)="filterResiduo($event)"
        clearInput>
      </ion-searchbar>
  </div>
  <!--Lista De Planos-->
  <ion-list >
    <ion-item class="list-margin" *ngFor="let p of Prestador" (click)="verInfo(p)">
      <ion-label>
        <p>{{p.name}}</p>
        <p>cnpj: {{p.cnpj}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  

  <!--Dados Do Plano-->
  </div>
    <div *ngIf="dadosRepresentante">
        <div class="centro mg-top-30">
            <img src="assets/Logo_Valoriza.png" class="logo">
        </div>
        <div class="mg-top-30">
            <h3 class="centro">Informaçoes Do Prestador</h3>
        </div>
      <ion-list>
          <ion-item>Nome : {{informacao.name}}</ion-item>
          <ion-item>Cnpj :{{informacao.cnpj}}</ion-item>
          <ion-item>Contato: {{informacao.contato}}</ion-item>
          <ion-item>Login: {{informacao.login}}</ion-item>
          <ion-item>Senha: {{informacao.senha}}</ion-item>
     </ion-list>
     <div class="padding-40">
        <div class="botoes centro" (click) = "voltarConsulta()">
          Voltar
        </div>
        </div>
    </div>
  
  <!--Spinner De Carregamento-->  
    <div class="centro" *ngIf = "spinner">
      <ion-spinner color="success" ></ion-spinner>
    </div>
  </div>
  </ion-content>
  </ion-app>
  