<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Cadastro Tipo Planos
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Cadastra novo plano-->
<ion-content>
<div *ngIf="cadastro">
  <div class="centro mg-top-30">
      <img src="assets/Logo_Valoriza.png" class="logo">
  </div>
  <div class="mg-top-30">
      <h3 class="centro">Cadastrar Plano</h3>
  </div>
    

  <!--Formulario-->
  <div class="padding-40">
  <ion-list >
      <ion-item>
          <ion-label position="floating">Nome</ion-label>
           <ion-input type="text" [(ngModel)] = "cadastroForm.nome"></ion-input>
       </ion-item> 
    
       <ion-item >
        <ion-label position="floating">Tempo De Contrato</ion-label>
      <ion-grid>
        <ion-row>
        <ion-col><ion-input placeholder="Anos" [(ngModel)] = "cadastroForm.validadeAnos"></ion-input></ion-col>
        <ion-col><ion-input placeholder="Meses" [(ngModel)] = "cadastroForm.validadeMeses"></ion-input></ion-col>
       </ion-row>
      </ion-grid>
      </ion-item>
 
      <ion-item>
         <ion-label position="floating">Valor</ion-label>
          <ion-input name="money" [(ngModel)] = "cadastroForm.valor" placeholder="(R$) Real" [brmasker]="{money: true, decimal: 2,len:7}"></ion-input>
      </ion-item>  
    </ion-list>
  </div>
  
  <!--Botao cadastre-se -->
  <div class="padding-40">
  <div class="botoes centro" (click) = "verifica()">
    Cadastrar Plano
  </div>
  </div>
  </div>
  
  <!--Tela De loading-->
  <div class="centro" *ngIf = "spinner">
      <div class="centro mg-top-30">
          <img src="assets/Logo_Valoriza.png" class="logo">
      </div>
  <div class="mg-top-30">  
    <h2 >Aguarde Um Momento ...</h2>
    <ion-spinner name="crescent" color="success"></ion-spinner>
  </div>
  </div>
</ion-content>
