<ion-header>
  <ion-toolbar>
    <ion-title class="title">Lancador De Peso</ion-title>
<!-- Botao de logout -->
    <ion-buttons slot="primary" class="title">
        <ion-button (click)="signOut()">
          Sair
          <ion-icon slot="end" name="close" (click)="signOut()"></ion-icon>
        </ion-button>
      </ion-buttons>
<!--<ion-icon name="close" (click)="signOut()"></ion-icon>-->
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Lanca Pesos-->
  <div class="centro mg-top-30" *ngIf="lanca || procurarCnpjEmpresa">
      <img src="assets/Logo_Valoriza.png" class="logo">
  </div>
  <div class="mg-top-30" *ngIf=procurarCnpjEmpresa>
    <h3 class="centro">Lançar Pesos</h3>
</div>

<!--Formulario-->
 <div class="padding-40" *ngIf="lanca">
  <ion-list >
      <ion-item>
          <ion-label position="floating">Placa</ion-label>
           <ion-input type="text" [(ngModel)] = "funcionarioForm.placa" [brmasker]="{mask: 'AAA-0000',len:'8'}"></ion-input>
       </ion-item>
       
       <ion-item>
          <ion-label position="floating">Nome Funcionario</ion-label>
           <ion-input type="text" [(ngModel)] = "funcionarioForm.nome"></ion-input>
       </ion-item>
         
       <ion-item>
          <ion-label position="floating">Prestador De Serviço</ion-label>
           <ion-input type="text" value={{representante}} [(ngModel)] = "funcionarioForm.nomeRepresentante"></ion-input>
       </ion-item>
         
      <ion-item>
         <ion-label position="floating">CNPJ Prestador</ion-label>
          <ion-input type="text" value={{cnpj}} [(ngModel)] = "funcionarioForm.cnpj"></ion-input>
      </ion-item>

    </ion-list>
  </div>
 

<!--Botoes De Envio E Limpar-->
  <div class="centro" *ngIf="lanca">
    <ion-button class="botao centro" (click) = "verificaFunc()">
      Procurar Cliente
    </ion-button>
  <ion-button class= "botao centro" (click) = "Limpar()">
      Limpar
  </ion-button>
  </div>



<!--Pagina Para Procura De Empresas-->
<div *ngIf="procurarCnpjEmpresa"> 
    <div class="padding-40" *ngIf="!clientemostrar">
        <ion-grid>
            <ion-row>
            <ion-col size="8">
                  <ion-item>
                      <ion-label position="floating">Cnpj Cliente</ion-label>
                      <ion-input type="text" [(ngModel)] = "funcionarioForm.consultaEmpresa" placeholder="CNPJ" [brmasker]="{person: true}"></ion-input>
                    </ion-item>
            </ion-col>
            <ion-col size="0.5">
                <ion-button class="botao" (click) = "btnConsultar()">
                    <ion-icon name="search"></ion-icon>
                </ion-button>      
             </ion-col>
            </ion-row>
            </ion-grid>
        </div>

        <div class="padding-40"  *ngIf="clientemostrar">
          <ion-list>
            <ion-item>
              {{cliente.name}}
            </ion-item>
          </ion-list>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Pesos</ion-card-subtitle>
                <ion-card-title>Adicione Os Pesos</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                  <ion-item *ngFor="let r of residuo">
                      <ion-label position="floating">{{r.nome}}</ion-label>
                       <ion-input type="text" [(ngModel)] = "funcionarioForm.pesos"></ion-input>
                   </ion-item>
              </ion-card-content>
            </ion-card>
        </div>
<!--Botoes-->  
<div class="centro">
  <ion-button class="botao centro" (click) = "btnvoltar()">
    Enviar
  </ion-button>
  <ion-button class="botao centro" (click) = "btnvoltar()">
    Voltar
  </ion-button>
 </div>
</div>
  
<!--Pagina De Loading-->
<div class="centro" *ngIf = "spinner">
    <div class="centro mg-top-30">
        <img src="assets/Logo_Valoriza.png" class="logo">
    </div>
<div class="mg-top-30">  
  <h2 >Aguarde Um Momento ...</h2>
  <ion-spinner name="crescent" color="success"></ion-spinner>
</div>
</div>
</ion-content>
