<ion-app>
  <ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
<!-- Consulta em Tempo real  -->
      <ion-title class="title">
         Relatorio
      </ion-title>
    </ion-toolbar>
  </ion-header>
    

  <ion-content>
  <div>
  <div *ngIf="lista">
<!--Barra De Pesquisa --> 
<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--Barra De Pesquisa --> 
    <div>
        
        <ion-searchbar placeholder="Digite a Pesquisa..."            
        [(ngModel)]="queryText"
          (ionInput)="filterResiduo($event)"
          clearInput>
          <ion-buttons slot="primary">
              <ion-button (click)="downloadPDF()" *ngIf ="botaoRelatorio" >  
                  <ion-icon name="cloud-download"></ion-icon>
              </ion-button>
          <ion-button (click)="presentAlertCheckbox()">  
              <ion-icon class="buttonpesquisa" slot="end" name="more" (click)="presentAlertCheckbox()"></ion-icon>
          </ion-button>
        </ion-buttons>
        </ion-searchbar>
    </div>
  </ion-col>
  </ion-row>
  
    <ion-row>
      <ion-col>
          <ion-item >
              <ion-label position="floating">Data Inicio</ion-label>
              <ion-input type="text" [(ngModel)] = "datainicio" [brmasker]="{mask: '00/00/0000', type:num}"></ion-input>
          </ion-item>
      </ion-col>  
        <ion-col>
            <ion-item >
                <ion-label position="floating">Data Fim</ion-label>
                <ion-input type="text" [(ngModel)] = "datafim" [brmasker]="{mask: '00/00/0000', type:num}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button (click)="getPesos()">
              Consultar
            </ion-button>
          </ion-col>
    </ion-row>
   
  </ion-grid>
</div>

<!--Lista De Pesos-->
<div id="content" #content>
  <ion-list >
    <ion-item class="list-margin" *ngFor="let p of Pesos" (click)="verInfo(p)">
      <ion-label>
        <p>-----------------------------------------------------------------------------------------------------------</p>
        <p>Cliente: {{p.cliente}}</p>
        <p>Motorista: {{p.nome}}</p>
        <p>Placa : {{p.placa}}</p>
        <p>Data : {{p.data}}</p>
        <p>-----------------------------------------------------------------------------------------------------------</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<!--Dados Do Peso -->
  </div>
    <div *ngIf="dadosPeso">
        <div class="centro mg-top-30">
            <img src="assets/Logo_Valoriza.png" class="logo">
        </div>
        <div class="mg-top-30">
            <h3 class="centro">Informaçoes Do Peso</h3>
        </div>
      <ion-list>
          <ion-item>Cliente : {{informacao.cliente}}</ion-item>
          <ion-item>Nome Motorista : {{informacao.nome}}</ion-item>
          <ion-item>Placa: {{informacao.placa}}</ion-item>
          <ion-item>Empresa: {{informacao.nomeEmpresa}}</ion-item>
          <ion-item>CNPJ: {{informacao.cnpj}}</ion-item>
          <ion-item>Data : {{informacao.data}}</ion-item>
       <!-- Apresentaçao dos Pesos -->
          <ion-card>   
          <ion-list *ngFor="let peso of resultado">
            <ion-item>
            {{peso}}
            </ion-item>
          </ion-list>
          </ion-card>
     </ion-list>
     <div class="padding-40">
        <div class="botoes centro" (click) = "voltarConsulta()">
          Voltar
        </div>
        </div>
    </div>
  
<!--Spinner De Carregamento-->  
    <div class="centro" *ngIf = "spinner">
      <ion-spinner color="success" ></ion-spinner>
    </div>
  </div>
  </ion-content>
  </ion-app> 