// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Variaveis Globais
.title{
    color: #fff;
}
.centro{
    text-align: center;
}
.padding-40{
    padding: 40px
}
.botoes{
    padding: 10px;
    border-radius: 100px;
    color:#ffffff;
    background: #3880ff
}
.mg-top-5{
    margin-top: 5px;
    }
.mg-top-10{
    margin-top: 10px;
    }
.mg-top-30{
    margin-top: 200px;
    }
.mg-top-20{
    margin-top: 20px;
    }
.mg-top-40{
    margin-top: 40px;
}
