<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Valoriza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/banner.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Dados da Nossa Companhia</ion-card-subtitle>
        <ion-card-title>Valoriza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi sem, malesuada vitae metus et, maximus pretium lacus. Nulla aliquet dolor sapien. Phasellus venenatis dictum turpis consequat dictum. Donec suscipit facilisis nulla porttitor gravida. Cras pretium hendrerit accumsan. Nullam neque est, efficitur sit amet efficitur id, convallis in mi. Ut finibus ultricies tincidunt. Phasellus lorem mauris, dignissim vitae nulla ut, tincidunt aliquam risus. Morbi id accumsan nulla, non malesuada felis.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        
        <ion-card-header>
          <ion-card-subtitle>Inssira os no formularo os dados</ion-card-subtitle>
          <ion-card-title>Valoriza</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
      </ion-card>
    
  
</ion-content>
