<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title class="title">
      Home            
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <img src="../../assets/Logo_Valoriza.png">
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item>
          
          <ion-label>Seja Bem Vindo !</ion-label>
        </ion-item>
      
        <ion-card-content>
          <h3 class="nome">Nome : {{usuario}}</h3>
         
        </ion-card-content>
      </ion-card>
      
</ion-content>
