.logo{
    width: 30%
}
.centro{
    text-align: center
}
.padding-40{
    padding: 40px
}
.botoes{
    padding: 10px;
    border-radius: 100px;
    color:#ffffff;
    background: #3880ff
}
.mg-top-5{
    margin-top: 5px;
    }
.mg-top-10{
    margin-top: 10px;
    }
.mg-top-30{
    margin-top: 30px;
    }
.mg-top-20{
    margin-top: 20px;
    }
.mg-top-40{
    margin-top: 40px;
}
.card{
    background: #3880ff;
}
.buttonpesquisa{
    color: black; 
}
