<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">
        Controle
     
      </ion-title>
      
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-searchbar (ionInput)="getData($event)">

        </ion-searchbar>
        

    
        <ion-item *ngFor="let cliente of clientes">
            <p >Cliente : {{cliente.NomeCliente}} </p> 
        </ion-item>

        <p class="centro">Nao Foram Encontrados Clientes</p>

   

</ion-content>