<ion-app>
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          
    <ion-title class="title">
       Controle Empresas
    </ion-title>
          
  </ion-toolbar>
</ion-header>
  
<ion-content>
<div>

<div>
    <ion-searchbar placeholder="Digite o nome da Empresa..."      
      [(ngModel)]="queryText"
      (ionInput)="filterEmpresa($event)"
      clearInput>
    </ion-searchbar>
</div>

<ion-list>
  <ion-item class="list-margin" *ngFor="let e of empresas">

    <ion-avatar slot="start" class="border-image">
     <img [src]="e.image">
    </ion-avatar>

    <ion-label>
      <p>{{e.name}}</p>
      <p>CNPJ:{{e.cnpj}}</p>
    </ion-label>

  </ion-item>
</ion-list>
  <div class="centro" *ngIf = "spinner">
    <ion-spinner color="success" ></ion-spinner>
  </div>
</div>
</ion-content>
</ion-app>
